@page "/productos"

@inject IGenericService<Producto> _serviceProducto
@inject NavigationManager NavigationManager
@inject FirebaseAuthService _authService
@inject SweetAlertService sweetAlert
<PageTitle>productos</PageTitle>

<PageHeader Title="Productos" Description="Admistra aqui los productos" />

@if (productos == null)
{
	<p><em>Cargando la lista de productos...</em></p>
}
else if (!productos.Any())
{
	<p><em>No hay productos disponibles.</em></p>
}
else
{
	<NavLink class="btn btn-primary" href=@($"NuevoEditarProductos")>
		Agregar producto
	</NavLink>
	<table class="table">
		<thead>
			<tr>
				
				<th>Nombre</th>
				<th>Categoria</th>
				<th>Precio</th>

				
				

				<th colspan="2">Acciones</th>

			</tr>
		</thead>
		<tbody>
			@foreach (var pro in productos)
			{
				<tr>
					
					<td>@pro.Nombre</td>
					<td>@pro.Categoria</td>
					<td>@pro.Precio</td>
				
					<td>
						<button class="btn btn-danger" @onclick="() => DeleteProducto(pro)">Eliminar</button>
					</td>

					<td>
						<NavLink class="btn btn-primary" href=@($"NuevoEditarProducto?idProducto={pro.Id}")>
							Editar
						</NavLink>
					</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<Producto>? productos;

	protected override async Task OnInitializedAsync()
	{
		if (!await _authService.IsUserAuthenticated())
		{
			NavigationManager.NavigateTo("/login");
			return;
		}

		productos = (await _serviceProducto.GetAllAsync(null))?.ToList();
	}

	private async Task DeleteProducto(Producto producto)
	{
		var respuesta = await sweetAlert.FireAsync(new SweetAlertOptions
			{
				Title = "¿Estás seguro?",
				Text = $"¿Deseas eliminar el producto '{producto.Nombre}'?",
				Icon = SweetAlertIcon.Warning,
				ShowCancelButton = true,
				ConfirmButtonText = "Sí, eliminar",
				CancelButtonText = "Cancelar"
			});
		if (respuesta.IsConfirmed)
		{
			if (await _serviceProducto.DeleteAsync(producto.Id))
			{
				productos?.Remove(producto);
				StateHasChanged();
			}else
			{
				await sweetAlert.FireAsync("Error", "No se pudo eliminar el producto.", SweetAlertIcon.Error);
			}
		}
	}
	
}