<div class="card text-center">
    <div class="card-header">
        Orador: @producto?.Nombre
    </div>
    
   
    <div class="card-body">
        <h5 class="card-title">@producto?.Categoria</h5>
        <p class="card-text">@producto?.PrecioUnitario</p>
        <a href="#" class="btn btn-primary">Informacion</a>
    </div>
</div>
@code {
    [Parameter]
    public Producto? producto { get; set; }



}
