@page "/categorias"

@inject IGenericService<Categoria> _serviceCategorias

<PageTitle>Categorias</PageTitle>

<h1>Categorias</h1>

@if (categorias == null)
{
	<p><em>Cargando la lista de Categorias...</em></p>
}
else if (!categorias.Any())
{
	<p><em>No hay Categorias disponibles.</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				<th>Nombre</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var categoria in categorias)
			{
				<tr>
					<td>@categoria.Nombre</td>
				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<Categoria>? categorias;

	protected override async Task OnInitializedAsync()
	{
		categorias = (await _serviceCategorias.GetAllAsync(null))?.ToList();
	}
}