@page "/"

<PageTitle>Inicio</PageTitle>

<h1>StockCarniceria — Plataforma de Gestión de Stock</h1>

<h4>StockCarniceria es una solución tecnológica creada para optimizar la gestión de inventario en carnicerías. Su propósito es ofrecer una plataforma integral para controlar productos, movimientos y existencias: desde el registro y la actualización de stock, hasta la generación de reportes, alertas y análisis de ventas.</h4>