@page "/"

<PageTitle>Inicio</PageTitle>

<h1>StockCarniceria — Plataforma de Gestión de Carnicerias</h1>

<h4>StockCarniceria es una plataforma educativa desarrollada por un estudiante de 2.º año de Programación. Su objetivo es brindar una solución integral para la gestión de carnicerías: desde el control de stock y ventas, hasta la administración de proveedores y generación de reportes.</h4>
