@page "/productos"
@using Service.Interfaces
@using Service.Models

@inject IGenericService<Producto> _serviceProducto

<PageTitle>Productos</PageTitle>

<h1>Productos</h1>

@if (productos == null)
{
	<p><em>Cargando la lista de productos...</em></p>
}
else if (!productos.Any())
{
	<p><em>No hay productos disponibles.</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>
				
				<th>Nombre</th>
				<th>precio</th>
				<th>Stock</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var producto in productos)
			{
				<tr>

					<td>@producto.Nombre</td>
					<td>@producto.Precio.ToString("0")</td
					<td>@producto.Stock</td>

				</tr>
			}
		</tbody>
	</table>
}

@code {
	private List<Producto>? productos;

	protected override async Task OnInitializedAsync()
	{
		productos = (await _serviceProducto.GetAllAsync(null))?.ToList();
	}
}