@page "/productos"
@inject NavigationManager Navigation
@inject IGenericService<Producto> _productoService

<PageTitle>Productos</PageTitle>

<h1>productos</h1>

@if (Productos == null)
{
	<p><em>Cargando la lista de productos...</em></p>
}
else if (!Productos.Any())
{
	<p><em>No hay productos disponibles.</em></p>
}
else
{
	<table class="table">
		<thead>
			<tr>

				<th>Nombre</th>
				<th>Precio</th>
				<th>Unidad</th>
			</tr>
		</thead>
		<tbody>
			@foreach (var producto in productos)
			{
				<tr>

					<td>@producto.Nombre</td>
					<td>@producto.Precio</td>
					<td>@producto.Unidad</td>

				</tr>
			}
		</tbody>
	</table>
@code {
	private List<Producto>? productos;

	protected override async Task OnInitializedAsync()
	{
		 productos = (await _productoService.GetAllAsync(null))?.ToList();
	}
}
}
